{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "ie >= 9",
            "last 2 Chrome versions",
            "last 2 Firefox versions",
            "not op_mini all"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "transform-runtime",
      {
        "polyfill": true,
        "regenerator": true
      }
    ]
  ]
}