/*** Copyright 2018 Johannes Kessler
*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.ra-tree {
	@import './raTreeFamilyTree';

	font-size: 18px;
	
	li .node {
		cursor: pointer;
	}
	
	.label-info-0 {
		background-color: #5bc0de;
	}
	
	.label-info-1 {
		background-color: #DE865A;
	}
	
	.label-info-2 {
		background-color: #AA5ADE;
	}
	
	.label-info-3 {
		background-color: #5A68DE;
	}
	
	.label-info-4 {
		background-color: #DED15A;
	}
	
	.label-info-5 {
		background-color: #5A80DE;
	}
}