/*** Copyright 2018 Johannes Kessler
*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.ra-result {
	text-align: center;
	
	.result-table {
		overflow-x: auto;
		margin-top: 32px;
		
		table {
			width: auto;
			margin: auto;

			text-align: center;
			.null {
				font-style: italic;
			}
		}
	}
	
	> ul, .pagination {
		margin: auto;
		margin-top: 32px;
		margin-bottom: 8px;
	}
}

