/*** Copyright 2018 Johannes Kessler
*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@font-face {
	font-family: 'FreeSansMinimal';
	src: local('FreeSansMinimal'), url('../../../resources/font/FreeSansMinimal.otf') format('opentype');
}

body {
	font-family: DejaVu Sans, sans-serif;
}

.cm-math, .math, .formula, .codemirror-toolbar {
	font-family: FreeSansMinimal;
}

.highlight {
	padding: 9px 14px;
	margin-bottom: 14px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}

.table-nonfluid {
	width: auto !important;
}

/* the example block was inspired by http://getbootstrap.com/ */
.example {
	margin-top: 10px;
	margin-bottom: 20px;

	margin-left: 0;
	margin-right: 0;
	background-color: #fff;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
	box-shadow: none;
	position: relative;
	padding: 18px 3px 3px 3px;
}

.example:after {
	content: "Example:";
	position: absolute;
	top: 2px;
	left: 4px;
	font-size: 12px;
	font-weight: bold;
	color: #bbb;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.example.block {
	display: block;
}

code {
	white-space: pre-wrap;
	display: inline-block;
}

code.block {
	display: block;
}

svg.railroad-diagram {
	display: block;
}

#toc a {
	/*color: grey;*/
}

#toc ul a {

}

#toc > h6 {
	font-size: 1.2em;
}

/*#toc > ul{
	padding-left: 0px;
	list-style-type: none;
}
#toc > ul > li > ul{
	padding-left: 32px;
	list-style-type: none;
}*/

.too-wide {
	overflow-x: auto;
}

.scroll-top {
	position: fixed;
	bottom: 0;
	right: 6%;
	z-index: 100;
	background: #d4d4d4;
	font-size: 18px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.scroll-top a:link, .scroll-top a:visited {
	color: #222;
}

* > a.anchor {
	display: none;
	color: #818181;
	font-size: 0.64em;
}

*:hover > a.anchor {
	display: inline;
}

h4:not(:only-child) {
	margin-top: 5em;
}

@media print {
	body {
		font-family: Latin Modern Roman, 'Junge', serif;
	}

	code, svg.railroad-diagram text {
		font-family: Latin Modern Mono Light, 'Droid Sans Mono', monospace;
	}

	svg.railroad-diagram text.comment, svg.railroad-diagram g.non-terminal text {
		font-style: italic;
	}

	nav.navbar, .scroll-top {
		display: none;
	}

	.too-wide {
		overflow-x: inherit;
	}

	.too-wide > svg {
		width: auto !important;
		max-width: 100% !important;
		height: auto !important;
	}

	.table {
		border-collapse: collapse !important;
	}

	.table th, .table td {
		border: 1px solid #ddd !important;
		padding: 0.3em;
	}
}