/*** Copyright 2018 Johannes Kessler
*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@font-face {
	font-family: 'FreeSansMinimal';
	src: local('FreeSansMinimal'), url('../../../resources/font/FreeSansMinimal.otf') format('opentype');
}

body {
	font-family: DejaVu Sans, sans-serif;
}

.cm-math, .math, .formula, .codemirror-toolbar {
	font-family: FreeSansMinimal;
}

.highlight {
	padding: 9px 14px;
	margin-bottom: 14px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}

/* the example block was inspired by http://getbootstrap.com/ */
.example {
	margin-top: 10px;
	margin-bottom: 20px;

	margin-left: 0;
	margin-right: 0;
	background-color: #fff;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
	box-shadow: none;
	position: relative;
	padding: 18px 3px 3px 3px;
}

.example:after {
	content: "Example:";
	position: absolute;
	top: 2px;
	left: 4px;
	font-size: 12px;
	font-weight: bold;
	color: #bbb;
	text-transform: uppercase;
	letter-spacing: 1px;
}

code {
	white-space: pre;
}

.group-container {
	border-left: 5px solid #428bca;
	padding-left: 4px;
	margin-bottom: 1.2em;
	margin-left: 8px;
}

.group-container button {
	/*float: right;*/
}

.teaser-more {
	cursor: pointer;
}

.group-container ul.table-list li {
	float: left;
	list-style-type: none;
}

.hidden {
	display: none;
}

code {
	white-space: pre-wrap;
}

.getStartedBtn {
	width: 200px;
	margin-top: 20px;
}

#heading {
	margin-top: 20px;
}



#landing-header-bar {
	margin: 0px;
}

#logos img {
	margin-left: 8px;
}

@media only screen and (max-width: 991px) {
	.getStartedBtn {
		width: 80%;
	}
	#logos img {
		margin: 0px;
		width: 100%;
		height: auto;
	}
}

